@page "/callwebapi"

@using blazor6
@using Microsoft.Identity.Web

@inject Microsoft.Identity.Abstractions.IDownstreamApi downstreamAPI
@inject MicrosoftIdentityConsentAndConditionalAccessHandler ConsentHandler

<h1>Call an API</h1>

<ApiDataDisplay />