@page "/callapi"

<PageTitle>Call Api</PageTitle>

<h1>Call API</h1>

<p role="status">Message from API: @apiResponse</p>

<button class="btn btn-primary" @onclick="GetDataFromApiDownstream">Click me to get from Downstream</button>
<button class="btn btn-primary" @onclick="GetDataFromApiClient">Click me to get from Api Client</button>

@code {
    [Inject]
    private Microsoft.Identity.Abstractions.IDownstreamApi _downstreamApi { get; set; }
    [Inject]
    private AuthenticationStateProvider _authenticationStateProvider { get; set; }
    [Inject]
    private ApiClient _apiClient { get; set; }

    private const string ServiceName = "MyApi";

    private string apiResponse = string.Empty;

    private class FooResponse
    {
        public string Foo { get; set; }
    }

    private async Task GetDataFromApiDownstream()
    {
        var principal = await _authenticationStateProvider.GetAuthenticationStateAsync();

        var value = await _downstreamApi.CallApiForUserAsync<FooResponse>(ServiceName, options =>
        {
            options.HttpMethod = HttpMethod.Get;
            options.RelativePath = "Foo";
        }
        , principal.User
        );

        apiResponse = value.Foo;
    }

    private async Task GetDataFromApiClient()
    {
        var principal = await _authenticationStateProvider.GetAuthenticationStateAsync();

        var value = await _apiClient.GetAsync(principal.User);

        apiResponse = value.ToString();
    }
}
